5mLoLGames/*.csv filter=lfs diff=lfs merge=lfs -text
lol_collector/draft_encoder/data/processed_riot/*.parquet filter=lfs diff=lfs merge=lfs -text
lol_collector/draft_encoder/data/processed_riot/splits.json filter=lfs diff=lfs merge=lfs -text
